@import "tailwindcss";

@theme {
  --color-bg: #1f2937;
  --color-primary: #4f45e5;
  --color-primary-dark: #2a2abe;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

@keyframes pumpGlow {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  20% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.8);
  }
  60% {
    box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0px #0000;
  }
}

.input:focus {
  outline-color: oklch(90.5% 0.182 98.111);
  animation: pumpGlow 300ms ease-out forwards;
  background-color: hsla(0, 0%, 100%, 0.1);
}